<!-- Here are the minimum files you need to create: -->

<!-- 1. Create views/master/program/index.ejs -->
<%- include('../../partials/head', { title: 'Program Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Program Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Program
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Program Name</th>
                      <th>Program Code</th>
                      <th>Department</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="4" class="text-center">Program management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>

<!-- 2. Create views/master/department/index.ejs -->
<%- include('../../partials/head', { title: 'Department Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Department Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Department
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Department Name</th>
                      <th>Department Code</th>
                      <th>College</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="4" class="text-center">Department management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>

<!-- 3. Create views/master/batch/index.ejs -->
<%- include('../../partials/head', { title: 'Batch Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Batch Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Batch
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Batch Name</th>
                      <th>Start Year</th>
                      <th>End Year</th>
                      <th>Program</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="5" class="text-center">Batch management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>

<!-- 4. Create simple placeholder files for the remaining views -->

<!-- 5. Create views/master/gender/index.ejs -->
<%- include('../../partials/head', { title: 'Gender Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Gender Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Gender
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Gender Name</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2" class="text-center">Gender management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>

<!-- 6. Create views/master/nationality/index.ejs -->
<%- include('../../partials/head', { title: 'Nationality Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Nationality Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Nationality
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Nationality Name</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2" class="text-center">Nationality management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>

<!-- 7. Create views/master/religion/index.ejs -->
<%- include('../../partials/head', { title: 'Religion Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Religion Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Religion
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Religion Name</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2" class="text-center">Religion management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>

<!-- 8. Create views/master/studenttype/index.ejs -->
<%- include('../../partials/head', { title: 'Student Type Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Student Type Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Student Type
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Student Type Name</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2" class="text-center">Student type management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>

<!-- 9. Create views/master/caste/index.ejs -->
<%- include('../../partials/head', { title: 'Caste Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Caste Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Caste
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Caste Name</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2" class="text-center">Caste management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>

<!-- 10. Create views/master/subcaste/index.ejs -->
<%- include('../../partials/head', { title: 'Sub Caste Management' }) %>
<body>
  <div class="page">
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/sidebar') %>
    
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Sub Caste Management</h2>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                  <i class="ti ti-plus"></i>
                  Add Sub Caste
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-body">
        <div class="container-xl">
          <%- include('../../partials/messages') %>
          
          <!-- Data table -->
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-vcenter table-hover card-table">
                  <thead>
                    <tr>
                      <th>Sub Caste Name</th>
                      <th>Caste</th>
                      <th class="w-1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="3" class="text-center">Sub caste management will be available soon.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../../partials/footer') %>
    </div>
  </div>
  
  <%- include('../../partials/scripts') %>
</body>